.banner{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border: solid 1px red; */
}

.video {
    position: absolute;
    width: 100%;
}

.botones {
    position: relative;
    width: 29%;
    height: 5%;
    display: flex;
    bottom: 9%;
    flex-direction: row;
    justify-content: space-between;
}

