.contenedor {
    /* border: solid 1px red; */
    display: flex;
    position: absolute;
    width: 10%;
    height: 5%;
    bottom: -115%;
    left: 90%;
    align-items: center;
}

.clasificacion {
    /* border: solid 1px red;*/
    position: relative;
    width: 80%;
    user-select: none;
    color: white;
    padding: 15px;
    border-left: solid 4px white;
    background-color: #45454590;
}